.logo-img {
    position: absolute;
    height: 56px;
    width: auto;
    top: 26px;
    left: 26px;
    z-index: 1;
}

.logo-bg {
    width: 100%;
    height: auto;
    position: absolute;
    z-index: 0;
}

body .content-dash .nav-container {
    text-align: right;
    display: inline-block;
    vertical-align: middle;
    width: 100%;
}

body .content-dash .nav-container ul li {
    display: inline;
    list-style-type: none;
}

body .content-dash .nav-container ul li a {
    text-decoration: none;
    color: #00385d;
    font-size: 16px;
}

body .content-dash .nav-container ul {
    font-size: 0;
    padding-right: 25px;
}

body .content-dash .nav-container ul li {
    display: inline-block;
    margin-left: 25px;
    vertical-align: middle;
}

header {
    font-size: 0;
    display: flex;
    background: #fde4f1;
    padding-top: 3px;
    /* background-image: url(../../img/headerbg.png); */
    background-repeat: no-repeat;
    /* margin-bottom: 15px; */
}



.header-image {
    display: inline-block;
    vertical-align: middle;
    width: 100%;
    position: relative;
    /* display: none; */
    margin-left: 106px;
    background-repeat: no-repeat;
    background-image: url(../../../img/headerbg.png);
}

.logo {
    background-image: url(../../../img/logo.png);
    position: absolute;
    left: 28px;
    top: 20px;
}